.typography--variant-h0 {
  font-size: 48px;
  line-height: 64px;
}

.typography--variant-h1 {
  font-size: 32px;
  line-height: 48px;
}

.typography--variant-h2 {
  font-size: 24px;
  line-height: 32px;
}

.typography--variant-h3 {
  font-size: 20px;
  line-height: 28px;
}

.typography--variant-h4 {
  font-size: 16px;
  line-height: 24px;
}

.typography--variant-body {
  font-size: 14px;
  line-height: 20px;
}

.typography--variant-small {
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.typography--variant-sub {
  font-size: 10px;
  line-height: 16px;
}
