/* Button styles */
.btn {
	outline: none;
	color: #fff;
	font-family: DM Sans;
	font-style: normal;
	letter-spacing: 0em;
	text-align: center;
	border-radius: 4px;
	background: #227eff;
}
.sec {
	padding: 7px, 24px;
	border: 1px solid #227eff;
	background: #fff;
	color: #227eff;
}
.btn:hover {
	background: #0064f0;
}
.btn:focus {
	background: #0350bb;
}
.sec:hover {
	background: none;
	border: 1px solid #0064f0;
	color: #0064f0;
}
.sec:focus {
	background: none;
	border: 1px solid #0350bb;
	color: #0350bb;
}
.sm {
	height: 32px;
	width: 104px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.md {
	height: 48px;
	width: 123px;
	font-size: 16px;
	line-height: 24px;
}
.big {
	height: 56px;
	width: 342px;
}
.lg {
	height: 72px;
	width: 342px;
	font-weight: 700;
	line-height: 30px;
	font-size: 20px;
}
.sec .md {
	height: 48px;
	width: 123px;
	padding: 12px, 24px;
	font-size: 16px;
	line-height: 24px;
}
.sec .big {
	height: 56px;
	width: 342px;
	padding: 16px, 134px;
	font-size: 16px;
	line-height: 24px;
}
.disabled {
	background: #a6cbff;
	cursor: not-allowed;
}
.sec .disabled {
	border: 1px solid #a6cbff;
	color: #a6cbff;
	cursor: not-allowed;
	pointer-events: none;
}

/* Input styles */

.form-input {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 18px 8px 17px;
	width: 343px;
	height: 56px;
	background: #f2f5fa;
	border: 1px solid #a7b2bd;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #071827;
}
.form-input::placeholder {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #6f798b;
	padding-left: 5px;
	position: absolute;
}
.form-input:focus {
	border: 2px solid #227eff;
}
.form-input:focus::placeholder {
	left: 0;
	top: 2px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #227eff;
}

.error {
	border: 2px solid #e02020;
}
.group {
	position: relative;
	top: 0;
	left: 0;
	width: 343px;
	height: 56px;
}
.group .sr {
	position: absolute;
	top: 18px;
	right: 15px;
	background: #f2f5fa;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; /* Remove default arrow */
	background-image: url("./assets/icons/Vector.svg"); /* Add custom arrow */
	width: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.group input {
	padding-left: 30px;
}
.group .sl {
	position: absolute;
	top: 18px;
	left: 5px;
	z-index: 99;
	background: #f2f5fa;
	border-right: 0.5px solid #cbd6e0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; /* Remove default arrow */
	background-image: url("./assets/icons/Nigeria.svg"); /* Add custom arrow */
	width: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.group .sl ~ .form-input::placeholder {
	padding-left: 20px;
}
